@import 'reset';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'utils';

body {
  font-family: $font-family;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
}

// header/nav

header {
  text-transform: uppercase;
  background-image: url(../img/header-bg.png);
  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-lg) { padding: 0 10px; }
  }
  .mobile-nav-open-button {
    display: none;
    position: absolute;
    top: 40px;
    right: 25px;
    @include breakpoint ($breakpoint-lg) { display: block; } 
    @include breakpoint ($breakpoint-lg) {
      top: 35px;
      right: 15px;
    } 
    @include breakpoint ($breakpoint-smmd) {
      top: 15px;
      right: 15px;
    } 
  }

  .logo {
    img {
      height: 55px;
      display: inline-block;
      margin-top: 20px;
      @include breakpoint ($breakpoint-lg) { margin: 10px 0px;}
      @include breakpoint ($breakpoint-smmd) { height: 35px; margin: 10px 0px;}
    }
  }
  nav.desktop {
    @include breakpoint ($breakpoint-lg) { display: none; }
  }

  li {
    padding: 25px;
    display: inline-block;
    font-weight: 600;

    &:hover {
      background: rgba(0,0,0,.4);
      outline: 8px solid rgba(0, 0, 0, .1);
      transform: skew(-32deg);
      span {
        transform: skew(32deg);
        position: relative;
        color: #FFF;
      }
      .main-text {
        left: -4px;
      }
      .sub-text {
        left: 8px;
      }
    }
  }
  
  .sub-text{
    display: block;
    color: #676765;
    font-size: 14px;
  }
  
  .main-text {
    font-size: 24px;
    color: #2F2F2D;
    display: block;
  }

}

nav.mobile {
  display: none;
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #27A4BA;
  z-index: 100;
  ul {
    text-align: center;
    padding: 20px;
  }
  a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    display: block;
    padding: 15px 0;
    white-space: nowrap;
  }

  .mobile-nav-close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
    white-space: nowrap;
    display: block;
    background: none;
    border: none;
    color: #FFFFFF;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Open Sans';
    letter-spacing: .5px;
    .icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 55px;
      font-weight: 400;
      transform: rotate(46deg);
      margin-top: -6px;
      margin-left: 2px;
    }
  }
  .row {
    max-width: 500px;
    margin: 0 auto;
  }
  .mobile-nav-buttons a {
    margin-top: 25px;
    padding: 18px 0;
    color: #FFFFFF;
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 14px;
    white-space: nowrap;
    letter-spacing: .5px;
    font-family: 'Open Sans';
    background: #148C97;
    font-weight: 600;
    text-align: center;
    // padding-left: 3px;
    @include breakpoint ($breakpoint-sm) { font-size: 13px; }
    &:first-child {
     border-right: 1px solid #FFFFFF; 
    }
  }
}


.mobile-nav-open-button {
  height: 24px;
  width: 25px;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #FFF;
    top: 50%;
    margin-top: -2px;
  }
}

section#hero {

  background: url(../img/hero.png);
  padding: 170px 0 280px;
  
  @include breakpoint ($breakpoint-smmd) { padding: 40px 0 110px; }

  .content-container {
    padding: 0 35px;
    @include breakpoint ($breakpoint-smmd) { padding: 0px 50px; }
  }

  .hero-text-outer {
    text-transform: uppercase;
    color: #FFF;
    border: 3px solid #FFF;
    max-width: 680px;
    margin: 0 auto;
    
    .alt {
      color: #F0B429;
    }
  }

  .hero-text-inner {
    border: 1px solid #FFF;
    margin: 3px;
    padding: 35px;
    font-weight: 600;
    @include breakpoint ($breakpoint-md) { padding: 15px; }
    
    .description {
      font-size: 42px;
      margin-bottom: 5px;
       @include breakpoint ($breakpoint-smmd) { font-size: 25px; }
    }
    .name {
      font-size: 56px;
      @include breakpoint ($breakpoint-smmd) { font-size: 33px; }
    }
    .alt {
      color: #F0B429;
      @include breakpoint ($breakpoint-smmd) { display: block; }
    }
  }

}

section#product-intro {
  padding-top: 140px;
  padding-bottom: 60px;
  position: relative;

   @include breakpoint ($breakpoint-smmd) { padding-top: 60px;  padding-bottom: 20px; }

  .content-container {
    padding: 0 30px;
  }

  .hero-pusher {
    max-width: 680px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -340px;
    top: -190px;

    @include breakpoint ($breakpoint-md) { margin-left: -140px; width: 280px; top: -80px; }
  }

  h1 {
    font-size: 47px;
    margin-bottom: 30px;
    @include breakpoint ($breakpoint-smmd) { font-size: 37px; }
    .alt {
      color: #5B5C59;
    }
  }

  .intro-subheading {
    font-weight: 600;
    font-size: 25px;
    color: #5B5D5A;
    margin-bottom: 20px;
    @include breakpoint ($breakpoint-smmd) { font-size: 20px; }
  }

  .intro-main-copy {
    color: #212320;
    font-size: 20px;
    line-height: 25px;
    @include breakpoint ($breakpoint-smmd) { font-size: 19px; }
  }

  .intro-panels {
    border: 2px solid #2F2F2D;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 50px;

    @include breakpoint ($breakpoint-smmd) { display: block; border: none; }

    .panel-row {
      display: table-row;
    }

    .panel {
      position: relative;
      border: 5px solid #2F2F2D;
      display: table-cell;
      padding: 50px 20px 20px;

      @include breakpoint ($breakpoint-smmd) { display: block; width: 100%; margin-bottom: 40px; border-width: 3px; }

      h2 {
        color: #C5B92C;
        font-size: 26px;
        @include breakpoint ($breakpoint-smmd) { font-size: 22px; }
      }

      ul {
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        color: #666664;
        @include breakpoint ($breakpoint-smmd) { font-size: 15px; }
      }
      li:first-child {
        margin-top: 15px;
      }
      li {
        margin-bottom: 10px;
      }
    }
    .panel-icon {
      border-radius: 100%;
      border: 5px solid #2F2F2D;
      height: 80px;
      width: 80px;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      top: -45px;
      background: #FFF;
      @include breakpoint ($breakpoint-smmd) { height: 60px; width: 60px; border-width: 3px; top: -30px; margin-left: -30px }
      img {
        width: 40px;
        position: relative;
        margin-top: 13px;
        @include breakpoint ($breakpoint-smmd) { width: 25px; }
      }
    }

    &.warranty-panel {
      margin-top: 25px;
      @include breakpoint ($breakpoint-smmd) { margin-top: 10px; }
      .panel {
        @include breakpoint ($breakpoint-smmd) { padding-top: 25px; }
      }
      p {
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 700;
        color: #585957;
        @include breakpoint ($breakpoint-smmd) { font-size: 32px; }
      }
      .alt1 {
        color: #C5B92C;
      }
      .alt2 {
        font-size: 29px;
        color: #ABABAC;
        display: block;
        margin-top: 5px;
      }
    }
  }
}

section#features {

  background: #F5F4F4;
  .content-container {
    padding: 0 30px;
  }
  .pusher-outer {
    padding-top: 50px;
    background: url(../img/hero.png);
    background-position: 1130px -90px;
    height: 330px;
    @include breakpoint ($breakpoint-smmd) { padding-top: 10px; height: 215px; }
  }
  h3 {
    margin: 30px 0;
    font-size: 50px;
    color: #FFF;
    @include breakpoint ($breakpoint-smmd) { font-size: 38px; }
    .alt {
      color: #C5B92C;
    }
  }

  .interactive-pusher {
    height: 315px;
    margin-top: 60px;
    @include breakpoint ($breakpoint-smmd) { margin-top: 30px; }
    .pusher-inner {
      position: relative;
      display: inline-block;
    }
    img {
      max-width: 680px;
      display: block;
      margin: 0 auto;

      @include breakpoint ($breakpoint-smmd) { width: 260px;}
    }
    button {
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      border: 2px solid black;
      color: black;
      box-shadow: 0 0 0 4px white;
      border-radius: 100%;
      padding: 0px 5px;
      text-transform: capitalize;
      font-weight: bold;
      height: 23px;
      width: 23px;
      position: relative;
      cursor: pointer;
      outline: none;

      &:after{
          content:"";
          padding: 50px;  
          position: absolute;
          left: -35px;
          top: -35px;
      } 

      span {
        position: absolute;
        font-size: 20px;
        top: -4px;
        left: 3px;
      }
      &:hover {
        background: #C5B92C;
        color: #FFF;
      }
    }
    .feature1 {
      display: block;
      position: absolute;
      top: 115px;
      left: 70px;
      @include breakpoint ($breakpoint-smmd) { top: 25px; left: 10px;}
    }

    .feature2 {
      display: block;
      position: absolute;
      top: 180px;
      left: 210px;
      @include breakpoint ($breakpoint-smmd) { top: 50px; left: 80px;}
    }

    .feature3 {
      display: block;
      position: absolute;
      top: 140px;
      left: 440px;
      @include breakpoint ($breakpoint-smmd) { top: 30px; left: 150px;}
    }

    .feature4 {
      display: block;
      position: absolute;
      top: 215px;
      left: 625px;
      @include breakpoint ($breakpoint-smmd) { top: 75px; left: 220px;}
    }

  }


  .feature-title-outer {
    border: 1px solid black;
    max-width: 375px;
    display: inline-block;
    position: relative;
    padding: 2px;
    margin-top: 180px;
    @include breakpoint ($breakpoint-smmd) { margin-top: 60px;}

    .feature-title-inner {
      border: 2px solid black;
      background: #FFF;
    }
    .text {
      display: inline-block;
      padding: 9px 10px 5px 80px;
      color: #C5B92C;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 21px;
      line-height: 17px;
      @include breakpoint ($breakpoint-smmd) { font-size: 15px; padding-left: 60px; }      
    }
  }

  .feature-description-outer {
    padding: 3px;
    margin: 30px 0 50px;
    border: 1px solid black;
    max-width: 680px;
    display: inline-block;
  }

  .feature-description-inner {
    background: #FFF;
    padding: 20px;
    font-size: 19px;
    line-height: 24px;
    position: relative;
    border: 2px solid black;

    @include breakpoint ($breakpoint-smmd) { padding: 8px; font-size: 14px; line-height: 16px;}
  }

  .feature-text-wrapper {
    // margin-top: 80px;
  }

  .feature-icon {
    height: 35px;
    width: 35px;
    background: #FFF;
    border: 2px solid #000;
    border-radius: 100%;
    box-shadow: 0 0 0 8px #C5B92C;
    position: absolute;
    top: 3px;
    left: 15px;

    img {
      position: absolute;
      top: 3px;
      left: 6px;
      height: 30px;
    }

  }

}

section#durability {
  background:  #2F2F2D;
  color: #FFF;
  .content-container {
    padding: 0 35px;
    position: relative;
  }

  h2 {
    margin: 60px 0 10px;
    font-size: 50px;
    color: #FFF;
    z-index: 1;
    position: relative;
    .alt {
      color: #C5B92C;
      display: block;
    }
  }
  .durability-text {
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    z-index: 1;
    position: relative;
    margin-bottom: 70px;
  }
  .bg {
    position: absolute;
    right: -400px;
    height: 100%;
    width: 1337px;
    background: url(../img/durability-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

  }
}

section#sizing {
  padding: 65px 0;
  background: #FFF;
  
  .content-container {
    padding: 0 35px;
  }

  .models {
    height: 365px;
  }

  .image-wrapper {
    height: 270px;
    img {
      width: 80%;
      max-width: 300px;
      top: 18%;
      position: relative;
      margin: 0 auto;
    }
  }

  .sizing-text {
    // height: 230px;
  }

  .selector {
    border-bottom: 2px solid #E4E3E4;
    padding-bottom: 10px;

    button {
      background: none;
      border: none;
      width: 32%;
      outline: none;
      cursor: pointer;

      .rollover {
        display: none;
      }

      .nonrollover {
        display: inline-block;
      }

      &:hover, &.active {
        .nonrollover {
          display: none !important;
        }
        .rollover {
          display: inline-block;
        }
        .model-name {
          color: #C5B92C;
          display: block;
          position: relative;
          &:after {
            content: ' ';
            display: block;
            width: 100%;
            bottom: -20px;
            height: 8px;
            background: #C5B92C;
            position: absolute;
          }
        }
      }
    }

    .model-icon {
      height: 30px;
      display: inline-block;
    }

    .model-name {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      display: block;
      margin-top: 10px;
      color: #2F2F2D;
    }
  }

  h2 {
    font-size: 50px;
    .alt {
      color: #676765;
      display: block;
    }
  }

  .sizing-text {
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    margin-top: 25px;
  }

  .table-outer {
    width: 100%;
    overflow-x: scroll;
    display: none;
  }

  table {
    margin-top: 50px;
    border-collapse: collapse;
    border: 2px solid #E1E1E1;
    font-size: 14px;
    width: 100%;

    * {
      white-space: nowrap;
    }
    tr {
      border: 2px solid #E1E1E1;
      &:nth-child(even) {
        background: #F9F9F9;
      }
    }
    th {
      background: #F9F9F9;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px 8px 13px;
      font-size: 15px;
    }
    td {
      color: #676765;
      padding: 11px 8px 9px;
      font-size: 15px;

    }
    th, td {
      min-width: 25px;
    }
  }

}

section#video {
  padding: 50px 0;
  background: url(../img/texture.png);

  .content-container {
    padding: 0 35px;
  }

  h2 {
    font-size: 50px;
    color: black;
    margin: 0 0 30px;
  }
  video {
    background: black;
    width: 100%;
  }
}

section#testimonials {
  padding: 50px 0 90px;
  background: #FFF;

  .content-container {
    padding: 0 35px;
  }

  h2 {
    font-size: 50px;
    color: black;
    margin: 0 0 30px;
  }

  .testimonial {
    border-bottom: 2px solid #E1E1E1;
    text-align: left;
    padding: 42px 0;
    &:nth-of-type(1) {
      border-top: 2px solid #E1E1E1;
    }
  }

  .testimonial-date {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
  }

  .testimonial-source {
    color: #B6B6B6;
    margin: 7px 0;
    text-transform: uppercase;
    font-size: 17px;
  }

  .testimonial-meta {
    color: #ABABAC;
    display: inline-block;
    margin-right: 30px;
    img {
      display: inline-block;
      margin-right: 5px;
    }
    .testimonial-meta-text {
      position: relative;
      font-size: 17px;
      top: -4px;
    }
  }

  p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }

}

section#entry-form {
  padding: 130px 0 40px;
  background: url(../img/dark-texture.png);
  background-size: 200px;
  position: relative;

  .content-container {
    padding: 0 35px;
  }

  h2 {
    margin: 10px 0 50px;
    font-size: 34px;
    color: #FFF;
    .alt {
      color: #C5B92C;
    }
  }

  .entry-icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -75px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  form {
    width: 90%;
    margin: 0 auto;
    input {
      display: inline-block;
    }
  }

  input[type=text] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    margin-bottom: 20px;
  }

  label {
    color: #FFF;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
  }

  button {
    background: #C5B92C;
    font-family: "proxima-nova-condensed";
    border: none;
    border-radius: 1px;
    color: #FFF;
    padding: 10px 65px 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin: 5px 0 30px;
  }
  .social-icon {
    margin-right: 20px;
  }
  .social-icon img {
    width: 20px;
    display: inline-block;
  }

  .facebook-icon img {
    width: 11px;
  }

}

footer {
  padding: 0 0 30px;
  background: url(../img/dark-texture.png);
  background-size: 200px;
  position: relative;
  color: #FFF;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  a {
    color: #B8B9BA;
    margin-right: 15px;
  }
}